/*
 *
 *  * Copyright 2018-2021 Antoniazzi Holding BV
 *  *
 *  * This program is free software: you can redistribute it and/or modify it
 *  * under the terms of the GNU General Public License as published by
 *  * the Free Software Foundation, either version 3 of the License,
 *  * or (at your option) any later version.
 *  *
 *  * This program is distributed in the hope that it will be useful,
 *  * but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  * GNU General Public License for more details.
 *  *
 *  * You should have received a copy of the GNU General Public License
 *  * along with this program. If not, see <https://www.gnu.org/licenses/>.
 *
 */

:root, body {
    font-family: "Nunito", arial, sans-serif;
}
.avatar-sm {
    vertical-align: middle;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.cursor-pointer {
    cursor: pointer;
}
.container-fluid{
    margin-top: 1%;
}
.invalid {
    border-bottom: 1px solid red;
    box-shadow: 0px 1px 2px #888888;
}
.cursor-pointer{
    cursor: pointer;
}
.date-input:before{
    content: "\e972";
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'osfont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 30px;
    color: #047bf8;
    position: absolute;
    margin-left: 1%;
    padding-top: 1.5%;
}
.dateHolder{
    position: relative;
    max-width: 190px;
    min-width: 170px;
}
.selectedEvent {
    -webkit-box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.clearDate{
    position: absolute;
    right: 10px;
    line-height: 1;
    vertical-align: middle;
    top: 10px;
}
.date-input .form-control{
    padding-left: 35px;
    max-width: 190px;
    min-width: 170px;
}
.form-header {
    margin-bottom: 1rem;
    padding-top: 0.5rem;
    display: block;
}
.scrollable{
    max-height: 650px;
    padding-bottom: 5%;
    overflow-y: auto;
    overflow-x: hidden;
}
.scrollable-medium{
    max-height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
}
.scrollable-small{
    max-height: 250px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.form-desc {
    color: #999;
    margin-bottom: 1.5rem;
    font-weight: 300;
    font-size: 0.9rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    display: block;
}
.profile-tile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.profile-tile .profile-tile-box {
    width: 110px;
    text-align: center;
    border-radius: 6px;
    padding: 1.2rem 0.5rem 0.5rem;
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);
    box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);
    text-decoration: none;
    color: #3e4b5b;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    display: block;
}

.profile-tile .profile-tile-box:hover {
    -webkit-transform: translateY(-5px) scale(1.02);
    transform: translateY(-5px) scale(1.02);
    -webkit-box-shadow: 0px 5px 12px rgba(126, 142, 177, 0.2);
    box-shadow: 0px 5px 12px rgba(126, 142, 177, 0.2);
}

.profile-tile .profile-tile-box.faded {
    background-color: #e9ecf3;
    border: 1px dashed #acbeda;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.profile-tile .pt-avatar-w {
    display: inline-block;
    border-radius: 50px;
    overflow: hidden;
}

.profile-tile .pt-avatar-w img {
    width: 60px;
    height: auto;
}

.profile-tile .pt-user-name {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 0.5rem;
    margin-top: 0.5rem;
    font-size: 0.63rem;
    text-transform: uppercase;
}

.profile-tile .pt-new-icon {
    background-color: #047bf8;
    color: #fff;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    border-radius: 50%;
    line-height: 1;
    height: 35px;
    width: 35px;
    margin-bottom: 10px;
}

.profile-tile .pt-new-icon i {
    line-height: 35px;
    display: inline-block;
    vertical-align: middle;
}

.profile-tile .profile-tile-meta {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-left: 30px;
}

.profile-tile .profile-tile-meta ul {
    list-style: none;
    font-size: 0.63rem;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.4);
    margin: 0px;
    padding: 0px;
}

.profile-tile .profile-tile-meta ul li {
    margin-bottom: 3px;
}

.profile-tile .profile-tile-meta ul strong {
    color: #3e4b5b;
    margin-left: 5px;
}

.profile-tile .profile-tile-meta ul strong a {
    color: #3e4b5b;
    text-decoration: none;
    border-bottom: 1px solid #3e4b5b;
}

.profile-tile .pt-btn {
    margin-top: 10px;
}

.inline-profile-tiles .profile-tile {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 130px;
    flex: 0 1 130px;
    margin-bottom: 10px;
    padding-bottom: 0px;
    border-bottom: none;
    padding: 0px;
}

.inline-profile-tiles .profile-tile .pt-avatar-w img {
    width: 40px;
    height: auto;
}

.inline-profile-tiles .profile-tile .profile-tile-box {
    display: block;
    width: 100%;
    padding: 15px;
    padding-bottom: 10px;
}

.inline-profile-tiles .profile-tile .pt-user-name {
    border-top: none;
    padding-top: 0px;
    text-transform: none;
    font-size: 0.9rem;
    line-height: 1.2;
    margin-top: 5px;
}
/*
 #14. Progress Bar Element
*/
.os-progress-bar {
    margin-bottom: 1rem;
}

.os-progress-bar .bar-labels {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 5px;
}

.os-progress-bar .bar-labels span {
    font-size: 0.72rem;
}

.os-progress-bar .bar-labels span.bigger {
    font-size: 0.99rem;
}

.os-progress-bar .bar-label-left span {
    margin-right: 5px;
}

.os-progress-bar .bar-label-left span.positive {
    color: #619b2e;
}

.os-progress-bar .bar-label-left span.negative {
    color: #d83536;
}

.os-progress-bar .bar-label-right span {
    margin-left: 5px;
}

.os-progress-bar .bar-label-right span.info {
    color: #456cf9;
}

.os-progress-bar .bar-level-1,
.os-progress-bar .bar-level-2,
.os-progress-bar .bar-level-3 {
    border-radius: 12px;
    height: 6px;
}

.os-progress-bar.blue .bar-level-1,
.os-progress-bar.primary .bar-level-1 {
    background-color: #f2f2f2;
}

.os-progress-bar.blue .bar-level-2,
.os-progress-bar.primary .bar-level-2 {
    background-color: #65affd;
}

.os-progress-bar.blue .bar-level-3,
.os-progress-bar.primary .bar-level-3 {
    background-color: #0362c6;
}

.os-progress-bar.warning .bar-level-1 {
    background-color: #f2f2f2;
}

.os-progress-bar.warning .bar-level-2 {
    background-color: #fcebb8;
}

.os-progress-bar.warning .bar-level-3 {
    background-color: #f9d66f;
}

.os-progress-bar.danger .bar-level-1 {
    background-color: #f2f2f2;
}

.os-progress-bar.danger .bar-level-2 {
    background-color: #f7acac;
}

.os-progress-bar.danger .bar-level-3 {
    background-color: #f16666;
}

.os-progress-bar.success .bar-level-1 {
    background-color: #f2f2f2;
}

.os-progress-bar.success .bar-level-2 {
    background-color: #c2f2ae;
}

.os-progress-bar.success .bar-level-3 {
    background-color: #90e86c;
}

.os-progress-bar.info .bar-level-1 {
    background-color: #f2f2f2;
}

.os-progress-bar.info .bar-level-2 {
    background-color: #9fd9f7;
}

.os-progress-bar.info .bar-level-3 {
    background-color: #58bef1;
}

.os-progress-bar.floated {
    float: right;
    width: 220px;
}

/* PJE */
.color-button {
    height:36px;
    max-width: 100px;
    border-radius: 8px;
    border: solid 1px #fff;
}
.color-button:hover {
    border: solid 1px #000;
}
.tab-nav {
    font-size: 1.2em;
    font-weight: 800;
}
.create-button {
    height: 40px;
    font-weight: 600;
}
.btn-secondary {
    color: #404040;
    background-color: #a2acb1;
    border-color: #a2acb1;
}
.btn-secondary:hover {
    color: #404040;
    background-color: #929ca1;
    border-color: #929ca1;
}
#page-heading {
    padding-top:0.5em;
    font-size:1.6em;
    font-weight:600;
}
.container-fluid {
    padding-left: 20px;
}
.tab-pane div.container-fluid {
    padding-left: 0px;
}s
.tab-pane div.container-fluid div.container-fluid {
    padding-left:1em;
}
.search-banner {
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #e0e0e9;
}
.tab-form-panel {
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #e0e0e9;
    padding: 1em;
}
.table-spacing {
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #e0e0e9;
}
.wizard-panel {
    margin:2em;
    margin-left:5%;
    margin-right:5%;
    background-color: #fff;
    border-radius: 12px;
    border: 1px solid #e0e0e9;
    box-shadow: 5px 20px 28px #aaa;
}
.wizard-footer-right button,
.wizard-footer-left button,
.wizard-btn {
    height:40px;
    font-size: 1.25em!important;
    border-radius: 8px!important;
    font-weight: 400!important;
}
