.avatar-sm {
    vertical-align: middle;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.cursor-pointer {
    cursor: pointer;
}
.container-fluid{
    margin-top: 3%;
}
.invalid {
    border-bottom: 1px solid red;
    box-shadow: 0px 1px 2px #888888;
}
